.head {
  display: flex;
  justify-content: space-between;
}
.head img {
  margin-top: 45px;
}
.head h4 {
  margin-top: 100px;
}
.Students {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 30px;
}
.Students h1 {
  margin-left: 30px;
  margin-top: 10px;
}
.Students h6 {
  margin-left: 32px;
  color: #d04c8d;
}
.list {
  text-align: left;
  margin-left: 40px;
}
.average {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 100%;
  border-radius: 30px;
  margin-top: 25px;
}
.average h6 {
  margin-top: 30px;
  margin-left: 40px;
  color: #d04c8d;
}
.average img {
  margin-left: 25px;
}
.Card {
  margin-top: 3%;
  width: 100%;
  height: 48%;
}
.comparative {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  width: 100%;
  border-radius: 30px;
  margin-top: 25px;
}
.cb {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.dot {
  color: #374151;
  height: 30px;
  margin-right: 20px;
}

.chart1 {
  display: flex;
  flex-direction: column;
}
.numb1 {
  color: #374151;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
  width: 90%;
  margin-left: 30px;
}
.bar1 {
  width: 90%;
  height: 15px;
  border-radius: 0;
  margin-left: 30px;
}

.planned {
  color: #504f8c;
  margin-left: auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-right: 35px;
  font-size: 12px;
  font-weight: bold;
}

progress {
  color: blue;
}
progress::-webkit-progress-value {
  background: blue;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}
.chart2 {
  display: flex;
  flex-direction: column;
}
.numb2 {
  color: #374151;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 30px;
  position: relative;
  top: 20px;
}
.bar2 {
  width: 90%;
  height: 15px;
  border-radius: 0;
  margin-left: 30px;
}

.Documented {
  color: #504f8c;
  margin-left: auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-right: 35px;
  font-size: 12px;
  font-weight: bold;
}

progress {
  color: #504f8c;
}
progress::-webkit-progress-value {
  background: #504f8c;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

.chart3 {
  display: flex;
  flex-direction: column;
}

.numb3 {
  color: #374151;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
  width: 90%;
  margin-left: 30px;
}
.bar3 {
  width: 90%;
  height: 15px;
  border-radius: 0;
  margin-left: 30px;
}

.Designed {
  color: #504f8c;
  margin-left: auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-right: 35px;
  font-size: 12px;
  font-weight: bold;
}

progress {
  color: #504f8c;
}
progress::-webkit-progress-value {
  background: #504f8c;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

.chart4 {
  display: flex;
  flex-direction: column;
}
.numb4 {
  color: #374151;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 30px;
  position: relative;
  top: 20px;
}
.bar4 {
  width: 90%;
  height: 15px;
  border-radius: 0;
  margin-left: 30px;
}

.Coded {
  color: #504f8c;
  margin-left: auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-right: 35px;
  font-size: 12px;
  font-weight: bold;
}

progress {
  color: #504f8c;
}
progress::-webkit-progress-value {
  background: #504f8c;
}
progress::-webkit-progress-bar {
  background-color: #d04c8d;
}

@media only screen and (min-width: 320px) and (max-width: 1550px) {
  .Card {
    width: 100%;
    height: 48%;
  }
  .planned {
    margin-left: 30px;
  }
  .Documented {
    margin-left: 30px;
  }
  .Designed {
    margin-left: 30px;
  }
  .Coded {
    margin-left: 30px;
  }
}
