.side {
  width: 250px;
  height: 780px;
  margin-top: 20px;
  border-radius: 0px 40px 40px 0px;
  background-color: white;
  padding: 20px;
}
.sidebar h3 {
  font-size: 20px;
  padding-left: 10px;
  font-size: 20px;
}
.links {
  text-decoration: none;
}

.home {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.home p {
  position: absolute;
  width: 88px;
  height: 24px;
  left: 120px;
  top: 70px;
  color: #d04d8b;
}

.home {
  color: #acacac;
  font-weight: 500;
  font-size: 18px;
}
.home img {
  width: 172px;
  height: 43px;
}
.bar {
  display: flex;
  align-items: center;
  margin: 5%;
}

.hu h3 {
  color: #d04d8b;
}
.top{
    margin-top: 30px;
}
